@using Microsoft.AspNetCore.Html;
@using UbytkacBackend;
@using UbytkacBackend.DBModel;
@using UbytkacBackend.ServerCoreDBSettings;
@using UbytkacBackend.ServerCoreWebPages;
@using System.Security.Claims;
@{

    ServerModuleAndServiceList? ServerModule = ((ServerModuleAndServiceList?)Context.Items.FirstOrDefault(a => a.Key.ToString() == "ServerModule").Value);
    ServerModuleAndServiceList? LoginModule = ((ServerModuleAndServiceList?)Context.Items.FirstOrDefault(a => a.Key.ToString() == "LoginModule").Value);
    ServerWebPagesToken? webpagestoken = ((ServerWebPagesToken?)Context.Items.FirstOrDefault(a => a.Key.ToString() == "ServerWebPagesToken").Value);

}

@if (ServerModule != null && ServerModule.InheritedPageType == "HtmlBodyOnly" && (!ServerModule.RestrictedAccess || (ServerModule.RestrictedAccess && webpagestoken != null && webpagestoken.IsValid && ServerModule.AllowedRoles.Split(",").ToList().Contains(webpagestoken.UserClaims.FindFirstValue(ClaimTypes.Role))))) {
    <!DOCTYPE html>
    <html lang="cs-CZ">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
        <meta name="charset" content="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Libor Svoboda">
        <meta name="description" content="UbytkacBackend">
        <meta name="keywords" content="System, Backend, API, EASY-DATA-Center, EASY-SYSTEM-Builder, Application, Server, IT, Solution, Help, HowTo, Javascript, HTML5, UI, Library, Web, Development, Framework">
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="../../metro/css/metro-icons.min.css" />
        <link rel="stylesheet" href="../../metro/css/metro-all.min.css" />
        <script type="text/javascript" src="../../metro/jquery/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../../metro/addons/js/js.cookie.min.js"></script>
        <script type="text/javascript" src="../../metro/js/metro.4.5.2.min.js"></script>
    </head>
    <body id="body" style="background: url(../../metro/images/anime-background-images-1.jpg) center center no-repeat;background-size: cover">
        <div class="d-block w-100 h-100">
            <main id="WebPageHTMLContent" role="main" class="pb-10 w-100 h-100" >
                @Html.Raw(ServerModule.CustomHtmlContent)
                @RenderBody()
            </main>
        </div>
    </body>
    </html>
}
else if (ServerModule != null && ServerModule.RestrictedAccess && webpagestoken == null && LoginModule?.InheritedPageType == "HtmlBodyOnly") {
    <!DOCTYPE html>
    <html lang="cs-CZ">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
        <meta name="charset" content="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="Libor Svoboda">
        <meta name="description" content="UbytkacBackend">
        <meta name="keywords" content="System, Backend, API, EASY-DATA-Center, EASY-SYSTEM-Builder, Application, Server, IT, Solution, Help, HowTo, Javascript, HTML5, UI, Library, Web, Development, Framework">
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="../../metro/css/metro-icons.min.css" />
        <link rel="stylesheet" href="../../metro/css/metro-all.min.css" />
        <script type="text/javascript" src="../../metro/jquery/js/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="../../metro/addons/js/js.cookie.min.js"></script>
        <script type="text/javascript" src="../../metro/js/metro.4.5.2.min.js"></script>
    </head>
    <body id="body" style="background: url(../../metro/images/anime-background-images-1.jpg) center center no-repeat;background-size: cover">
        <div class="d-block w-100 h-100">
            <main id="WebPageHTMLContent" role="main" class="pb-10 w-100 h-100">
                @Html.Raw(LoginModule.CustomHtmlContent)
                @RenderBody()
            </main>
        </div>
    </body>
    </html>
}
else if (ServerModule != null && ServerModule.RestrictedAccess && webpagestoken == null && LoginModule.InheritedPageType == "FullHtmlPage") {
    @RenderBody();
    Html.Raw(LoginModule.CustomHtmlContent);
}
else if (ServerModule != null && ServerModule.InheritedPageType == "FullHtmlPage" && !ServerModule.RestrictedAccess) {
    @RenderBody();
    Html.Raw(ServerModule.CustomHtmlContent);
}

